<div class="col-4 d-flex flex-column flex-shrink-4 p-4">
  <div class="text-white fs-3 fw-normal">
    <div class="row g-0 border border-dark">
      <span> Suggested for you</span>
      {loop="$user2"}
      <div class="col-md-4">
        <img class="img-responsive" height="75" width="75" id="image-preview" src="{$value.desphoto}" alt="Photo">
      </div>
      <div class="col-md-8 text-dark">
        <h2>{$value.desname}</h2>
        <h4>@{$value.deslogin}</h4>
      </div>
      {/loop}
    </div>
</div>
</div>